.button {
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
}

.default {
    background-color: #9fc8d6;
    color: #073b4c;
}

.default:hover {
    background-color: #118ab2;
    color: #fff;
}

.default:active {
    background-color: #00232f;
    color: #fff;
}

.red {
    background: red;
}
.red:hover {

}