.container {
    position: relative;
    margin-left: 30px;
    margin-bottom: 30px;
}

.input {
    border: 1px solid #cecece;
    color: #073b4c;
    border-radius: 5px;
}

.input:focus {
    outline: 1px solid #06d7a0;
}

.error {
    border: 1px solid #fc4b75;
    border-radius: 5px;
}

.error:focus {
    outline: 1px solid #fc4b75;
}

.errorText {
    position: absolute;
    left: 0px;
    bottom: -20px;
    color: #fc4b75;
}

.button {
    margin-left: 20px;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    background-color: #9fc8d6;
    color: #073b4c;
}

.button:hover {
    background-color: #118ab2;
    color: #fff;
}

.button:active {
    background-color: #00232f;
    color: #fff;
}
.counter {
    margin-left: 20px;
    font-size: 20px;
}